.userDetails {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
}

.backBtn span,
.cardExtra span {
  padding: 0 5px;
}
